@use "../abstracts/variables" as v;

.button-primary {
  background-color: v.$color-primary;
  color: v.$color-primary-contrast;
  border: none;
  padding: v.$spacing-unit * 2;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 18px;
  align-self: flex-start;
  opacity: 1;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.94;
  }
}
