@use "../abstracts/variables" as v;
@import "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap";

// Default font-related styles
body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: v.$color-text;
  overflow-x: hidden;
}

h1 {
  font-size: v.$text-5xl;
  font-weight: 900;
  line-height: 1.25;
}

h2 {
  font-size: v.$text-4xl;
  font-weight: 900;
  line-height: 1.35;
}

h3 {
  font-size: v.$text-lg;
  font-weight: 700;
  line-height: 1;
}

h4 {
  font-size: v.$text-base;
  font-weight: 700;
  line-height: 1;
}

p {
  font-size: v.$text-base;
  font-weight: 400;
  line-height: 1.5;
}
