@use "../abstracts/variables" as v;
@use "../abstracts/_mixins" as mixin;

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: v.$spacing-unit * 16;
  margin-bottom: v.$spacing-unit * 15;

  &__background {
    position: relative;
    width: 100%;
    height: 540px;
    overflow: hidden;

    &-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.5);
    }

    &-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: v.$color-text-secondary;
      font-weight: 700;
      text-align: center;

      h1 {
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 v.$spacing-unit * 16 0 v.$spacing-unit * 16;
    gap: v.$spacing-unit * 16;

    @media (min-width: v.$breakpoint-md) and (max-width: v.$breakpoint-lg) {
      gap: v.$spacing-unit * 10;
    }

    @media (max-width: v.$breakpoint-md) {
      padding: 0 v.$spacing-unit * 8 0 v.$spacing-unit * 8;
    }

    &-information {
      display: flex;
      justify-content: center;
      gap: v.$spacing-unit * 4;

      @media (min-width: v.$breakpoint-md) and (max-width: v.$breakpoint-lg) {
        gap: v.$spacing-unit * 2;
      }

      @media (max-width: v.$breakpoint-md) {
        flex-direction: column;
        gap: v.$spacing-unit * 4;
      }

      &-single {
        flex: 1;
        display: grid;
        grid-template-rows: auto auto 1fr;
        text-align: center;
        justify-items: center;
        gap: v.$spacing-unit * 2.5;

        @media (min-width: v.$breakpoint-md) and (max-width: v.$breakpoint-lg) {
          gap: v.$spacing-unit * 1;
        }

        .information-single-title {
          font-size: v.$text-xl;
          font-weight: 700;
          display: flex;
          min-height: 65px;
          align-items: center;

          @media (min-width: v.$breakpoint-md) and (max-width: v.$breakpoint-lg) {
            font-size: v.$text-base;
          }
        }

        p {
          display: flex;
          text-align: center;
          align-items: center;
          min-height: 48px;

          @media (min-width: v.$breakpoint-md) and (max-width: v.$breakpoint-lg) {
            font-size: v.$text-xs;
          }
        }

        .information-single-description {
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;
          gap: v.$spacing-unit;

          p {
            line-height: 1;
            min-height: auto;
          }
        }

        .contact__icons-images {
          background-color: v.$color-primary;
          padding: v.$spacing-unit * 1.5;
          width: 60px;
          height: 60px;
        }
      }
    }

    &-feedback {
      display: flex;
      gap: v.$spacing-unit * 4;

      @media (max-width: v.$breakpoint-lg) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        gap: v.$spacing-unit * 1;
      }

      .feedback-container {
        overflow: hidden;
        flex: 1;
      }

      &-image {
        object-fit: cover;
        height: 100%;
        width: 100%;
        display: block;
        min-width: min-content;
        flex: 1;

        @media (max-width: v.$breakpoint-md) {
          width: 60%;
          height: auto;
          justify-self: center;
        }
      }

      &-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: v.$spacing-unit * 1;
        flex: 1;

        @media (min-width: v.$breakpoint-lg) and (max-width: v.$breakpoint-2xl) {
          gap: v.$spacing-unit * 2;
          align-items: stretch;
        }

        @media (max-width: v.$breakpoint-lg) {
          gap: v.$spacing-unit * 2;
        }

        .feedback-text {
          display: flex;
          flex-direction: column;
          gap: v.$spacing-unit * 2;

          .feedback-title {
            font-size: v.$text-2xl;
            font-weight: 700;
          }
        }

        .feedback-elements {
          display: flex;
          flex-direction: column;
          gap: v.$spacing-unit * 3;

          .form-group {
            display: flex;
            flex-direction: column;
            gap: v.$spacing-unit;

            label {
              font-weight: 700;
              font-size: v.$text-lg;
            }

            label.required {
              @include mixin.element-required;
            }

            input,
            textarea {
              width: 100%;
              padding: v.$spacing-unit * 1.5;
              border: 2px solid v.$color-primary;
              font-size: 14px;
              max-width: 470px;
            }

            .error-message {
              font-size: 12px;
              color: red;
              height: 14px;
            }

            #feedback-status {
              margin-top: v.$spacing-unit * 2;
              font-weight: 700;
              font-size: 16px;
            }
          }

          .feedback-button {
            padding: v.$spacing-unit * 2 v.$spacing-unit * 3.5;
            font-size: 12px;

            @media (max-width: v.$breakpoint-lg) {
              align-self: center;
              padding: v.$spacing-unit * 1.5 v.$spacing-unit * 2.5;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
