// COLORS
$color-primary: #b92770;
$color-primary-contrast: #fff;
$color-background: #fff;
$color-background-secondary: #504e4a;
$color-background-first-part: rgb(231 232 233 / 100%);
$color-text: #000;
$color-text-secondary: #fff;
$color-text-hint: hsl(0deg 0% 0% / 35%);
$color-border: #727174;
$color-description: rgb(80 78 74 / 100%);
$color-catalog-elements: rgb(233 233 237 / 100%);
$color-filter-elements: rgb(114 113 116 / 100%);

// SPACING
$spacing-unit: 8px;

// BREAKPOINTS
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1440px;
$breakpoint-3xl: 1650px;
$breakpoint-lg-mid: 1250px;

// Font sizes (based on TailwindCSS default font sizes)
$text-xs: 0.75rem; // 12px
$text-sm: 0.875rem; // 14px
$text-base: 1rem; // 16px
$text-lg: 1.125rem; // 18px
$text-xl: 1.25rem; // 20px
$text-2xl: 1.5rem; // 24px
$text-3xl: 1.875rem; // 30px
$text-4xl: 2.25rem; // 36px
$text-5xl: 3rem; // 48px
$text-6xl: 3.75rem; // 60px
$text-7xl: 4.5rem; // 72px
$text-8xl: 6rem; // 96px
$text-9xl: 8rem; // 128px
